.Cell {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border: solid 1px grey;
	text-align: center;
	vertical-align: middle;
}

.Cell > div > img {
	text-align: center;
	vertical-align: middle;
}