.Minesweeper {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 20px auto;
	background-color: #c0c0c0;
	width: fit-content;
}

.MinesweeperInfoBar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.MinesweeperInfoBar > div {
	flex: 1;
	text-align: center;
	white-space: nowrap;
}

.MinesweeperLevelBar {
	text-align: center;
}

.MinesweeperLevelBar div {
	padding: 10px;
	display: inline-block;
}

.MinesweeperGrid {
	width: fit-content;
	margin: auto;
}

.MinesweeperGridRow {
	padding: 0;
	margin: 0;
	background-color: #c0c0c0;
	width: fit-content;
	white-space: nowrap;
}
